Kensho ~ けんしょう

%script{:src=>"http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js", :type=>"text/javascript"}
%script{:src=>"/javascripts/colorbox.js", :type=>"text/javascript"}
%script{:src=>"/javascripts/listeners.js", :type=>"text/javascript"}
