#help
  %a{:class=>"help", :href=>"/help"}
    %img{:src=>"/images/help.png", :alt => "About Kensho"}
  %a{:class=>"help", :href=>"/help"}
    %h1 About Kensho 
#logo
  %a{:href=>"/", :title => "Kensho ~ けんしょう"}
    %img{:src=>"/images/logo.png", :alt =>"Kensho ~ けんしょう"}
