#about
  #me
    %p
      %a{:href=>"http://zacharyscott.net/", :title=>"Homepage"} Zachary Scott
    %p
      %a{:href=>"http://github.com/zacharyscott", :title=>"Github"}Github
    %p
      %a{:href=>"http://twitter.com/hasmanytweets", :title=>"Twitter"}Twitter
    
  %h1 About Kensho
  %p Kensho was built for the 2010 Rails Rumble competition, a 48 hour hackathon. Although, it is actually a Sinatra application that relies on Nokogiri and W3C to build the api.
  
  .section
    %h3 Validation Service
    
    %h4 HTML
    %p Choose the HTML option and paste in your markup to be validated by the W3C
    
    %h4 CSS
    %p Paste in your Cascading Style Sheets to be validated by the W3C
   
    %h4 XML
    %p Paste in your RSS feed or other XML markup for validation by the Nokogiri gem
    
  .section
    %h3 Command Line Service
    
    %h4 JSON API
    %p Kensho provides an easy to use json api, that you can access via curl
    %p Echo or Pipe your markup to the api
    %ul
      %li HTML: http://kenshoooo.com/api/json/html
      %li CSS: http://kenshoooo.com/api/json/css
      %li XML: http://kenshoooo.com/api/json/feed
    %pre 
      %code
        curl 'mywebaddress.com/webpage.html' | curl -F markup=@- http://kenshoooo.com/api/json/html
    
    %h4 YAML API
    %p Kensho also provides a yaml api, accessible via curl
    %p Simply swap 'json' with 'yaml' in the URI 
    %pre 
      %code 
        curl 'mywebaddress.com/rssfeed.xml' | curl -F markup=@- http://kenshoooo.com/api/yaml/feed
