!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title
      Kensho ~ けんしょう
    %link{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheet.css"}
  %body
    #header
      = haml(:header, :layout=>false)
    #content
      %form{:method=>:post, :action=>'/validate'}
        %label Select a markup type
        .details
          %select{:name=>"type"}
            %option{:value=>"HTML"} HTML
            %option{:value=>"FEED"} FEED
            %option{:value=>"CSS"} CSS
        %label Paste your markup
        .details
          %textarea{:name=>"markup"}
        %input{:type=>"submit", :value=>"Validate"}
    #footer= haml(:footer, :layout=>false)
