* 
  margin: 0
  padding: 0
  border: 0
  outline: 0 

body 
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Garuda" 
  background: #000000
  color: #FFFFFF
  text-shadow: #000 2px 2px 1px

a:link, a:visited
  text-decoration: none
  color: #FFFFFF !important
  text-shadow: #4F4F4F 2px 2px 1px !important

a:hover, a:active
  color: #8F8F8F !important

#help
  position: absolute
  top: 10px
  left: 10px 
  width: 300px

#help img
  float: left
  width: 40px
  margin-left: 10px

#help h1
  margin-top: -10px 
  margin-left: 10px 
  float: left
  width: 200px

#icon
  float: left
  width: 50px
  height: 15px
  clear: both 
  padding: 10px

#icon img
  width: 50px

#logo
  text-align: center
  margin: 20px

#logo img
  height: 200px

#header a img
  border: none

a:link, a:visited 
  color: #5F5F5F

a:hover, a:active 
  color: #8F8F8F

#content 
  clear: both
  width: 75%
  margin: 10px auto
  background: #1F1F1F
  padding: 20px

#content select
  width: 100%
  height: 50px
  font-size: 20px  
  padding: 10px
  background: #2F2F2F
  color: #FFF

#content textarea
  width: 96% 
  height: 200px
  background: #3F3F3F
  color: #FFF
  padding: 10px
  margin: 10px

#content input[type=submit]
  width: 100%
  height: 50px
  background: #3F3F3F
  color: #FFF
  font-size: 20px
  margin-top: 20px

#exception
  background: #EF1D1D
  text-align: center
  padding: 20px
  margin: 20px

#valid
  background: #28EF1D
  text-align: center
  padding: 20px
  margin: 20px

#warnings, #errors, #valid
  color: #FFF
  margin: 10px auto

#warnings ul, #errors ul, #debug ul
  list-style-position: inside
  margin-left: 50px

#warnings li, #errors li
  line-height: 20px
  padding: 20px
  width: 95%

li.even
  background: #2F2F2F
li.odd
  background: #4F4F4F

#warnings
  color: #FDFF0F

#warnings ul
  list-style-image: url('/images/warning.png')

#errors
  color: #EF1D1D

#errors ul
  list-style-image: url('/images/error.png')

#debug li
  width: 95%

#debug img
  float: right
  width: 40px

#footer 
  clear: both
  margin-top: 20px
  text-align: center

#footer a:link, #footer a:visited 
  color: #9F9F9F

#footer a:hover, #footer a:active 
  color: #EEE

#about
  width: 800px 
  padding: 20px
  background: #1F1F1F

#about .section
  margin: 10px

#about .section h4
  margin-left: 15px
#about .section p
  margin-left: 30px
  
#about .section ul
  list-style-position: inside
  margin-left: 50px

#about .section pre
  width: 90% 
  margin-top: 10px
  margin-bottom: 10px
  margin-left: auto
  margin-right: auto
  padding: 20px
  background: #3F3F3F
  overflow: scroll

#about #me
  float: right
  width: 20%
  padding: 20px
  text-align: right 
