* 
  margin: 0
  padding: 0
  border: 0
  outline: 0 

body 
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Garuda" 

a:link, a:visited 
  color: #5F5F5F

a:hover, a:active 
  color: #8F8F8F

#content 
  clear: both
  width: 98%
  margin: 10px auto

#footer 
  clear: both
  text-align: center

#footer a:link, #footer a:visited 
  color: #9F9F9F

#footer a:hover, #footer a:active 
  color: #EEE

