* 
  margin: 0
  padding: 0
  border: 0
  outline: 0 

body 
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Garuda" 
  background: #000000
  color: #FFFFFF

#header
  text-align: center
  margin: 20px

a:link, a:visited 
  color: #5F5F5F

a:hover, a:active 
  color: #8F8F8F

#content 
  clear: both
  width: 75%
  margin: 10px auto
  background: #1F1F1F
  padding: 20px

#content select
  width: 100%
  height: 50px
  font-size: 20px  
  padding: 10px
  background: #2F2F2F
  color: #FFF

#content textarea
  width: 100%
  height: 200px

#content input[type=submit]
  width: 100%
  height: 50px
  background: #3F3F3F
  color: #FFF
  font-size: 20px
  margin-top: 20px

#footer 
  clear: both
  margin-top: 20px
  text-align: center

#footer a:link, #footer a:visited 
  color: #9F9F9F

#footer a:hover, #footer a:active 
  color: #EEE

