!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "UTF-8"}/
    %title
      Kensho ~ けんしょう
    %stylesheet{:rel=>"stylesheet", :type=>"text/css", :href=>"/stylesheet.css"}
  %body
    #header
      = haml(:header, :layout=>false)
    #content
      = @errors.inspect 
    #footer= haml(:footer, :layout=>false)
